<div>
	<span>Из пыльцы какого типа было получено больше всего сахара?</span>
	<span><%=@bee.a1%></span>
</div>
<div>
	<span>Какая пыльца была наиболее популярна среди пчел?</span>
	<span><%=@bee.a2%></span>
</div>
<div>
	<span>Какой день был самым лучшим для сбора урожая?Какой был худшим?</span>
	<div data-statistic="of_days"></div>
</div>
<div>
	<span>Какая пчела была наиболее эффективной? Какая была наименее эффективной?</span>
	<div data-statistic="of_bee"></div>
</div>